.credential-title {
    margin-left: 2.5%;
}

.credential-container {
    justify-items: center;
}

.credential-name {
    background-color: rgba(23, 69, 149, 0.9);
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin-right: 0.5em;
    margin-left: 2%;
}

.credential-input {
    background-color: rgba(72, 72, 72, 0.95);
    color: white;
    font-family: Exo-Medium;
}

.credential-input-display {
    background-color: rgba(23, 69, 149, 0.9);
    margin-left: 0.5em;
    padding-left: 0.5%;
    padding-right: 0.5%;
}
